%h1 Cms#new
.new
  = form_for(@cm) do |f|
    .field
      .name
        = f.label :name
        = f.text_field :name
      .code
        = f.label :code
        = f.text_field :code
    .action
      = f.submit
